  .delivery-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .delivery-stage {
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Questrial', sans-serif;
    margin: 10px;
    width: 28%;
    position: relative;
    cursor: help;
    background-color: #ee8943;
    padding: 3% 3%;  
    }
    
    .delivery-stage h2 {
      margin-top: 0;
      font-size: 100%;
    }
    
    .delivery-stage i {
    font-size: 124%;
    margin-bottom: 5px;
    color: #333;
    transition: transform 0.3s ease-in-out;
    }
    
    .delivery-stage i:hover {
      transform: scale(1.2);
    }
    
    .delivery-stage h2::after {
      content: attr(data-description);
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: #333;
      color: #fff;
      border-radius: 4px;
      font-size: 14px;
      opacity: 0;
      z-index:999999;
      transition: opacity 0.3s ease-in-out;
    }
    
    .delivery-stage h2:hover::after {
      display: block;
      opacity: 1;
    }